<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>

<body class="content">

<main class="main">
    <div class="main-broken-auth-div">
        <h1><%= title %></h1>
        
        <div>
            <p class="upute">
                <strong>Upute: </strong> 
                Ovo je tipični primjer Loše autentifikacije. Ako se prilikom slanja zahtjeva uključi ranjivost preko checkbox 
                ...
            </p>
        </div>
        <div class="checkbox-div">
            <input type="checkbox" name="broken-auth" id="broken-auth" class="broken-auth-box">
            <label for="broken-auth" class="broken-auth-label">Uključi ranjivost Loše Autentifikacije</label>
        </div>
        <div class="login-div">
            <div class="username-div">
                <label for="username">Korisničko ime:</label>
                <input class="username-input" type="text" name="username" id="username" placeholder="Unesite korisničko ime">
            </div>
            <div class="password-div">
                <label for="password">Lozinka:</label>
                <input class="password-input" type="password" name="password" id="password" placeholder="Unesite lozinku">
            </div>
            <button type="button" class="login-btn">Prijavi se</button>
        </div>
        <div>
            <p class="alert"></p>
        </div>
    </div>
    
    <a href="/">
        <button class="sql-inj-redirect-btn">Testiraj SQL ubacivanje</button>
    </a>
</main>

</body>

</html>


<script>

</script>