<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./home.css">
    <script>
        async function login() {
            let ranjivost = document.querySelector(".broken-auth-box").checked;
            let usrname = document.querySelector(".username-input").value;
            let passw = document.querySelector(".password-input").value;

            //let url = "http://localhost:3000/authLogin";
            let url = "https://web2-lab2-im4f.onrender.com/authLogin";
            
            try {
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: usrname,
                        checked: ranjivost,
                        password: passw
                    })
                })
                .then(response => response.json())
                .then(data => {
                    let odgovor = document.querySelector(".alert")
                    odgovor.innerHTML = data["msg"];
                })
                .catch(err => console.error("Greška:", err));
            } catch (err) {
                console.error("Greška pri dohvaćanju podataka:", err);
            }
        }
    </script>
</head>

<body class="content">

<main class="main">
    <div class="main-broken-auth-div">
        <h1><%= title %></h1>
        
        <div>
            <p class="upute">
                <strong>Upute: </strong> 
                Ovo je primjer Loše autentifikacije. Ako se prilikom slanja zahtjeva uključi ranjivost preko checkboxa onda napadač jako lagano
                može brute force napadom odgonetnuti kako se prijaviti u sustav. Kao povrat detaljno dobije povratne informacije je li korisničko
                ime problem ili je lozinka problem. Ako korisnik sazna da postoji korisničko ime 'pogodi', lagano može doći do lozinke
                jer je ona jako nesigurna (123456789) i nema neka granica koliko puta smije pogrešnu lozinku upisati. Ako je checkbox za ranjivost 
                isključen, onda je dopušteno maksimalno za svakog korisnika 4 puta pogriješiti tijekom upisivanja lozinke. Nakon 4 pogrešno upisane
                lozinke, račun se zaključava te ostaje zaključan na 30 minuta. Ako napadač ponovno pogrešno napiše lozinku, račun se odmah zaključava.
                Ako je prošlo više od 30 minuta od zadnjeg neuspješnog pokušaja prijave na taj račun i upišu se pravi podaci, prijava će biti uspješna.
                Također, kod isključenog checkboxa korisnik nema mogućnost znati je li pogriješio prilikom unosa lozinke ili korisničkog imena.
            </p>
        </div>
        <div class="checkbox-div">
            <input type="checkbox" name="broken-auth" id="broken-auth" class="broken-auth-box">
            <label for="broken-auth" class="broken-auth-label">Uključi ranjivost Loše Autentifikacije</label>
        </div>
        <div class="login-div">
            <div class="username-div">
                <label for="username">Korisničko ime:</label>
                <input class="username-input" type="text" name="username" id="username" placeholder="Unesite korisničko ime">
            </div>
            <div class="password-div">
                <label for="password">Lozinka:</label>
                <input class="password-input" type="password" name="password" id="password" placeholder="Unesite lozinku">
            </div>
            <button type="button" class="login-btn" onclick=login()>Prijavi se</button>
        </div>
        <div>
            <p class="alert"></p>
        </div>
    </div>
    
    <a href="/">
        <button class="sql-inj-redirect-btn">Testiraj SQL ubacivanje</button>
    </a>
</main>

</body>

</html>


<script>

</script>