<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./home.css">
    <script>
        async function login() {
            let ranjivost = document.querySelector(".sql-inj-box").checked;
            let usrname = document.querySelector(".username-input").value;
            let passw = document.querySelector(".password-input").value;

            // let url = "http://localhost:3000/sqlLogin";
            let url = "https://web2-lab2-im4f.onrender.com:3000/sqlLogin";
            
            try {
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: usrname,
                        checked: ranjivost,
                        password: passw
                    })
                })
                .then(response => response.json())
                .then(data => {
                    let odgovor = document.querySelector(".alert")
                    odgovor.innerHTML = data["msg"];
                })
                .catch(err => console.error("Greška:", err));
            } catch (err) {
                console.error("Greška pri dohvaćanju podataka:", err);
            }
        }
    </script>
</head>

<body class="content">

<main class="main">
    <div class="main-sql-inj-div">
        <h1><%= title %></h1>
        
        <div>
            <p class="upute">
                <strong>Upute: </strong> 
                Ovo je tipični primjer SQL ubacivanja. Ako se prilikom slanja zahtjeva uključi ranjivost preko checkbox 
                ...
            </p>
        </div>
        <div class="checkbox-div">
            <input type="checkbox" name="sql-inj" id="sql-inj" class="sql-inj-box">
            <label for="sql-inj" class="sql-inj-label">Uključi ranjivost SQL ubacivanje</label>
        </div>
        <div class="login-div">
            <div class="username-div">
                <label for="username">Korisničko ime:</label>
                <input class="username-input" type="text" name="username" id="username" placeholder="Unesite korisničko ime">
            </div>
            <div class="password-div">
                <label for="password">Lozinka:</label>
                <input class="password-input" type="password" name="password" id="password" placeholder="Unesite lozinku">
            </div>
            <button type="button" class="login-btn" onclick=login()>Prijavi se</button>
        </div>
        <div>
            <p class="alert"></p>
        </div>
    </div>
    
    <a href="/brokenAuth">
        <button class="broken-auth-redirect-btn">Testiraj Lošu Autentifikaciju</button>
    </a>
</main>

</body>

</html>


<script>

</script>